/* 
        statistics
 */


 /* .statistics{

    margin-bottom: 300px;
 } */


.main-sec{
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-sec h1{
    font-size: 35px;
    font-family: 'fontBold';
    color: #464749;
    text-decoration: underline;
    margin-bottom: 16px;
}

.main-sec p{
    font-size: 16px;
    color: #58595B;
}


.stats-sec{}

.stats-sec .stats-container{
    border: 1px solid #B1D9C9;
    padding: 0 40px 15px;
}
.stats-sec .stats-container + .stats-container{
    margin-top: 40px;
}
.stats-sec .stats-container:last-of-type{
    margin-bottom: 60px;
}
.stats-sec .stats-container h3{
    font-size: 22px;
    font-family: 'fontBold';
    color: #58595B !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8ECE4;
    vertical-align: middle;
    /* margin-bottom: 30px; */
}
.stats-sec .stats-container h3 span{
    font-size: 40px;
    font-weight: 600;
    color: #3CA078;
}
.stats-sec .stats-container h3 span::before{
    content: "-";
    color: #58595B;
    font-size: 22px;
    margin: 0 15px;
}

.stats-sec .stats-container .stats-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stats-sec .stats-container .stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-height: 190px;
    margin-top: 35px;
    position: relative;
}
.stats-sec .stats-container .stat-card::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 1px;
    background-color: #D8ECE4;
}
.stats-sec .stats-container .stat-card:last-child:after,
.stats-sec .stats-container .stat-card:nth-child(4n):after{
    display: none;
}
.stats-sec .stats-container .stat-card .icon-boxx{
    margin-bottom: 10px;
}
.stats-sec .stats-container .stat-card .icon-box img{}
.stats-sec .stats-container .stat-card .stat-num{
    font-size: 40px;
    /* font-family: ''; */
    font-weight: 600;
    color: #464749;
    line-height: 40px;

}
.stats-sec .stats-container .stat-card p{
    font-size: 16px;
    color: #888888;
    margin-bottom: 0;
    max-width: 170px;
    text-align: center;
    line-height: 1.2;
    margin-top: 10px;
    padding: 0;
}







/* 
        new header 
*/

.header-wrapper.home-header{
    min-height: 80px;
    height: auto;
    border: 0 ;
}
.header-wrapper .topnav{
    margin-top: 0;
    height: 80px;
}

.header-wrapper .topnav .navbar .navbar-brand{
    margin-right: 0;
    font-size: inherit;
    max-width: 190px;
    flex: 0 0 190px;
    margin-left: 55px;
}
.header-wrapper .topnav .navbar .navbar-brand .logohere{
    width: 100%;
    height: 100%;
}

.header-wrapper .topnav .navbar{
    padding: 0;
}

.header-wrapper .topnav .navbar-nav .nav-item > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    /* border-left:0.2px solid #3CA078 ; */
    border-left:0.2px solid #3CA0786b ;
    position: relative;
    border-radius: 0;
    height: 80px;
}

.header-wrapper .topnav .navbar-nav .nav-item > a.dropdown-toggle:after{
    background-image: url(newImgDga/arrowdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
}
.header-wrapper .topnav .navbar-nav .nav-item:first-child{
    max-height: inherit;
}
.header-wrapper .topnav .navbar-nav .nav-item > a.active{
    background-color: #066058;
    border-radius: 0;
    color: #fff;
}
.header-wrapper .topnav .navbar-nav .nav-item > a.active::after{
    filter: brightness(5);
}
.header-wrapper .topnav .navbar-nav .nav-item > a:hover{
    background-color: #066058;
    border-radius: 0;
}
.header-wrapper .topnav .navbar-nav .nav-item:first-child > a{
    padding-right: 15px;
}
.header-wrapper .topnav .navbar-nav .nav-item:first-child > a:hover{
    background-color: #066058;

}
.header-wrapper .topnav .navbar-nav .nav-item > a::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: #3CA078;
    transition: 300ms;
}
.header-wrapper .topnav .navbar-nav .nav-item > a:hover::before{
    opacity: 1;
}
.header-wrapper .topnav .navbar-nav .nav-item > a.active::before{
    opacity: 1;
}
.header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu{
    background-color: #066058!important;
    top: 79px;
}
.header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .new-rules .top-section a{
    background-color: #3CA078 !important;
}
.header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .latest-events .event-date{
    background-color: #3CA078;
}
.header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .inner-dropdown-div .be-sure p.hashtag,
.header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .inner-dropdown-div .join-us-content p.hashtag{
    color:#61C9A0
}

.header-wrapper .topnav .navbar-nav{
    justify-content: flex-start;
}


.topLnk.lang{
    font-size: 14px;
    font-family: 'fontBold';
    color: #3CA078;
    text-transform: uppercase;;
}


.searchicon{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-area{
    position: relative;

}
.searchicon span{
    font-size: 16px;
    color: #464749;
    display: block;
}

.searchbox {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 50px;
    right: -30px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 5px 25px #0000001c;
}
.searchbox input{
    background-color: #fff !important;
    padding: 0 35px;
    width: 100%;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    font-size: 14px;
    height: 40px;
    border-radius: 4px !important;
}
.searchbox .searchcontrols .search-btn{
    position: absolute;
    left: 5px;
    top: 5px;
}
.searchbox .searchcontrols .closeSearch-btn{
    position: absolute;
    right: 5px;
    top: 5px;
}
.searchbox .searchcontrols .closeSearch-btn i,
.searchbox .searchcontrols .search-btn{
    color: #58595B;
}





.header-wrapper .topnav.sticynav{
    padding: 0;
}
.header-wrapper .topnav.sticynav .navbar{
    display: flex !important;
}


















/*******************

                            meeeeeeeeeeeeeeeeeeeeeedia

*********************/




@media(max-width:1650px){

}

@media(max-width:1400px){
    .branchesDetailsWapper .breanchBox .BTxt .font18 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .branchesDetailsWapper .breanchBox .BTxt .p16 {
        font-size: 14px;
    }

    .searchicon span {
        font-size: 12px;
    }
    .topLnk.lang {
        font-size: 12px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > a{
        font-size: 12px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > a.dropdown-toggle:after{
        width: 20px;
        height: 20px;
        background-size: contain;
    }



}
@media(max-width:1199.98px){
    .fullWidthBGContantUs .font35 {
        font-size: 28px;
    }
    .service-det-main .head-box .start-serv{
        font-size: 14px;
    }
    .service-det-main .p16{
        font-size: 14px;
    }
    .service-det-main .links .DgaLink span {
        font-size: 14px;
    }
    .services-tabs .tab-content ul li{
        font-size: 14px;
    }
    .services-tabs .tab-content ol li{
        font-size: 14px;
    }
    .services-tabs .tab-content ul.docs li a{
        font-size: 14px;
    }
    .download-det {
        font-size: 14px;
    }
    .branchesV2{
        padding: 30px 20px 50px ;
    }
    .branchesDetailsWapper .DgaLink span {
        font-size: 14px;
    }
    .followUS .FlUS{
        width: 100%;
    }
    .followUS .FlUS li a img {
        width: 24px;
    }
    .layoutWidhSideMenu .alertBadge img {
        max-width: 50px;
    }
    .layoutWidhSideMenu .alertBadge .font20 {
        font-size: 16px;
    }
    .layoutWidhSideMenu .alertBadge .p16{
        font-size: 14px;
    }
    .fullWidthBGContantUs .font35{
        padding-bottom: 10px;
    }
    .fullWidthBGContantUs .font35{
        font-size: 20px;
    }
    .followUS .FlUS {
        justify-content: space-evenly;
    }
  
    .header-wrapper .topnav .navbar-nav .nav-item:first-child{
        max-width: inherit;
    }
    .header-wrapper .topnav .navbar .navbar-brand{
        max-width: 130px;
        flex: 0 0 130px;
        margin-left: 25px;
    }

    .header-wrapper .topnav .navbar-nav .nav-item > a{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 10px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item:first-child > a{
        padding-right: 10px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > a.dropdown-toggle:after{
        width: 17px;
        height: 17px;
    }
    .topLnk.lang {
        font-size: 10px;
    }
    .searchicon img{
        max-width: 17px;
    }
    .searchicon span {
        font-size: 10px;
    }

    .header-wrapper.home-header {
        min-height: 60px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > a,
    .header-wrapper .topnav{
        height: 60px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > a::before{
        height: 6px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu{
        top:59px
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .about-article,
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .by p,
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu ul li a,
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .inner-dropdown-div .be-sure p
    {
        font-size: 12px;
        line-height: 1.5;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu h3 {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu.rules::after{
        z-index: -1;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .new-rules .list-rules p {
        font-size: 12px;
        padding-right: 45px;
        height: 35px;
        line-height: 1.5;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .new-rules .top-section a{
        float: none;
        float: none;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 10px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .new-rules .top-section a img {
        vertical-align: bottom;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .inner-dropdown-div .join-us-content p {
        font-size: 12px;
        line-height: 2;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .latest-events .event-date {
        flex: 0 0 65px;
        height: 65px;
    }
    .header-wrapper .topnav .navbar-nav .nav-item > .dropdown-menu .latest-events .event-date .day {
        font-size: 22px;
        line-height: 24px;
    }
    .main-sec h1{
        font-size: 28px;
        line-height: 1.5;
    }
    .main-sec p {
        font-size: 14px;
        line-height: 1.5;
    }
    .stats-sec .stats-container h3 {
        font-size: 18px;
    }
    .stats-sec .stats-container h3 span {
        font-size: 30px;
    }
    .stats-sec .stats-container .stat-card .stat-num {
        font-size: 30px;
    }
    .stats-sec .stats-container .stat-card p {
        font-size: 14px;
    }

}
@media(max-width: 1024px){
    body .header-wrapper.home-header {
        min-height: 60px;
        max-height: 60px;
    }
}
@media(max-width:991.98px){
    .service-det-main .head-box{
        width: 100%;
    }
    .fullWidthBGContantUs .col-md-12 .font35{
        width: auto;
    }
    .fullWidthBGContantUs .col-md-12 .p16{
        width: 100%;
    }
    .layoutWidhSideMenu > .container > .row {
        flex-direction: column-reverse;
    }
    .branchesV2{
        transform: none;
        margin-top: 30px;
        padding-top: 10px;
    }
    .navbar-toggler,
    .navbar-collapse{
        background: #066058;
    }
    .topLnk.lang{
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
    .searchicon span{
        display: none;
    }
    .header-wrapper .topnav .navbar-nav > li:first-child a:before{
        margin: 0;
    }
    .search-area{
        position: relative;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .searchicon{
        margin: 0;
    }
    .searchbox{
        top: 20px;
        right: -135px;
        font-size: 10px;
    }
    .header-wrapper .topnav .navbar-nav{
        margin: 0;
    }
    .header-wrapper .topnav .navbar-nav > li:first-child a:before{
        content: "";
    }
    .header-wrapper .topnav .navbar .navbar-brand{
        display: block !important;
    }

    .header-wrapper .topnav .navbar .navbar-brand{
        max-width: 170px;
    }

    button.navbar-toggler {
        position: absolute;
        left: 85px;
        top: 0;
    }
    body .header-wrapper.home-header {
        min-height: 100px;
        max-height: 100px;
    }

    .stats-sec .stats-container .stat-card .icon-boxx {
        max-width: 40px;
    }
    .stats-sec .stats-container .stat-card .icon-boxx img {
        max-width: 100%;
    }




}
@media(max-width:767.98px){
    .fullWidthBGContantUs .font35 {
        font-size: 20px;
    }
    .service-det-main .head-box .start-serv{
        padding: 5px 15px 3px;
    }
    .service-det-main .hashtags {
        margin-bottom: 15px;
    }
    .service-det-main .hashtags span{
        font-size: 12px;
    }
    .service-det-main .p16{
        font-size: 12px;
        line-height: 1.5;
    }
    .service-det-main .links {
        margin-top: 10px;
    }
    .service-det-main .links .DgaLink span{
        font-size: 12px;
    }

    .branchesDetailsWapper .breanchBox .BTxt .font18 {
        font-size: 14px;
        margin-bottom: 7px;
    }
    .branchesDetailsWapper .breanchBox .BTxt .p16 {
        font-size: 12px;
        line-height: 20px;
    }
    .branchesDetailsWapper .breanchBox {
        margin-bottom: 20px;
        display: flex;
    }
    .branchesDetailsWapper .breanchBox .BIcon img {
        width: 18px;
    }
    .download-det {
        font-size: 12px;
    }
    .services-tabs .nav .nav-link + .nav-link {
        margin-right: 15px;
    }
    .services-tabs .nav .nav-link{
        font-size: 14px;
        padding: 7px 5px;
    }
    .services-tabs .tab-content ul li {
        font-size: 12px;
        line-height: 20px;
    }
    .services-tabs .tab-content h5 {
        font-size: 14px;
    }
    .services-tabs .tab-content ul li::marker {
        font-size: 14px;
    }
    .services-tabs .tab-content ul li .DgaLink span{
        font-size: 12px;
    }
    .services-tabs .tab-content ul li .DgaLink img{
        width: 14px;
    }

    .services-tabs .tab-content ul.docs {
        padding-inline-start: 23px;
    }
    .services-tabs .tab-content ul.docs li::before {
        top: 3px;
        right: -22px;
        width: 12px;
        height: 15px;
    }
    .services-tabs .tab-content ol li {
        font-size: 12px;
        line-height: 20px;
    }
    .services-tabs .tab-content ul.docs li a {
        font-size: 12px;
        line-height: 20px;
    }
    .branchesV2 .formGroup .col-form-label {
        font-size: 14px;
    }
    .innerpages .select2-selection {
        font-size: 12px;
    }
    

    .select2-container--default .select2-selection--single .select2-selection__rendered 
       {
        font-size: 14px !important;
        height: 40px;
    }
    
    .innerpages .select2-container{
        height: 35px !important;
        min-height: 40px;
    }
    
    .innerpages .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
        top: 7px;
    }
    
    .branchesV2 .font22 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .branchesV2 .formGroup select{
        right: 0;
    }
    .layoutWidhSideMenu .alertBadge{
        flex-direction: column;
    }
    .layoutWidhSideMenu .alertBadge img{
        margin-bottom: 10px;
    }
    .layoutWidhSideMenu .alertBadge .font20{
        text-align: center;
        margin-left: 0;
        padding-bottom: 10px;
        border: none;
        border-bottom: 1px solid rgba(88, 88, 88, 0.2);
        margin-bottom: 10px;
    }


    button.navbar-toggler{
        left: 0;
    }
    .stats-sec .stats-container .stat-card {
        width: 50%;
        min-height: 130px;
    }
    .stats-sec .stats-container .stat-card:nth-child(4n):after{
        display: block;
    }
    .stats-sec .stats-container .stat-card:nth-child(2n):after{
        display: none;
    }
    .main-sec h1 {
        font-size: 23px;
    }    
    .main-sec p {
        font-size: 12px;
        line-height: 1.5;
    }
    .stats-sec .stats-container h3 {
        font-size: 16px;
    }
    .stats-sec .stats-container h3 span {
        font-size: 25px;
    }
    .stats-sec .stats-container .stat-card .stat-num {
        font-size: 25px;
        line-height: 30px;
    }

}

@media(max-width:574.98px){
    .service-det-main .head-box .start-serv {
        font-size: 12px;
    }

}











